<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Toan's Blog</h1>
  <h3>Summary of My Projects</h3>


  <div class="row">
    <div class="col-sm-8">
            <% @articles.each do |article| %>
        <div class="card col-sm-8">
        <div class="card-block">
          <div class="card-title">
            <h3><%= article.title %></h3>
          </div>
          <div class="card-body">
            <%= @markdown.render(article.body).html_safe %>
          </div>
        </div>
      <% end %>      
    </div>



  </div>

  <br>
  <%= link_to 'New Article', new_article_path %>

</div>