<br>
<div class="">
  <h1>Ruby on Rails Class</h1>
  <p>I love minimalism design, coding, making</p>
</div>
<br>


<div class="row">
  <div class="col-sm-8 col-xs-12">
    <% @articles.each do |article| %>        
     <%= render article %>
    <% end %>
          
    <% if @articles.present? %>
      <% render @articles %>
    <% else %>
        <h4 style="margin-top:40px;margin-bottom:40px"> sorry there are no posts containing the tearm: "<%= params[:search] %>"!</h4>
    <% end %>

  <br>
</div>

  
