<div class="col-sm-8 col-xs-12">

	<%= render @article %> 
    
    <br>
	<h3> Guest comments</h3>
    
    <!-- showing article comment -->
	<ul class="list-group" style="padding-top: 20px; padding-left: 20px; padding-bottom: 20px">
	  <% @article.comments.each do |comment| %>
	  <%= render comment %>
	  <% end %>
	</ul>

	<!-- Adding comments -->
	<%= render 'comments/form' %>

</div>